<nav class="nav">
    @Html.ActionLink("Student Management", "Index", "Student", null, new { @class = "nav-link" })
    @Html.ActionLink("Student Creation", "Create", "Student", null, new { @class = "nav-link" })
</nav>
